{% extends "base.html" %}

{% block scripts %}
  <!-- Add scripts that need to run before here -->
  {{ super() }}
  <!-- Add scripts that need to run afterwards here -->

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    // Function to call plusSlides(1)
    function callPlusSlides() {
        plusSlides(1);
    }

    // Set an interval to call the function every 2 seconds (2000 milliseconds)
    setInterval(callPlusSlides, 2000);
});
</script>
{% endblock %}


{% block announce %}

<marquee>
    <a href="/syllabus" style="text-decoration: none; color: inherit;">
        New batch starting soon...
    </a>
</marquee>

{% endblock %}

{% block htmltitle %}
  <title>Centre For Innovation and Entrepreneurship</title>
{% endblock %}


{% block content %}


{{super() }}

{% endblock %}