 <div class="row">
  <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="gallery-title">Blog Posts</h1>
  </div>

  <div align="center">
      <button class="btn btn-default filter-button" data-filter="all">All</button>
      <button class="btn btn-default filter-button" data-filter="HW">Device and Firmware</button>
      <button class="btn btn-default filter-button" data-filter="DA">Desktop Apps</button>
      <button class="btn btn-default filter-button" data-filter="RA">Remote Access</button>
  </div>
  <br/>

      {% for blog in site.data.blogposts %}
      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter {{ blog.section }}">
        <div class="panel panel-primary my-panel" >
          <div class="panel-heading"><a href = "{{ blog.url }}" target="_blank">{{ blog.title }}</a></div>
          <div class="panel-body">
            <img src="{{ blog.img }}" class="img-responsive">
            <p>{{ blog.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}


  </div>


