@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jbjoqu');
  src:  url('fonts/icomoon.eot?jbjoqu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jbjoqu') format('truetype'),
    url('fonts/icomoon.woff?jbjoqu') format('woff'),
    url('fonts/icomoon.svg?jbjoqu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e91f";
}
.icon-library:before {
  content: "\e921";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-star-empty:before {
  content: "\2606";
}
.icon-star-half:before {
  content: "\272e";
}
.icon-star-full:before {
  content: "\2605";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-amazon:before {
  content: "\ea87";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-hackaday {
  background-image: url("/assets/img/hackaday.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  display: inline-block;
}
.icon-hackster::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256,0C114.6,0,0,114.6,0,256s114.6,256,256,256s256-114.6,256-256S397.4,0,256,0z M256,366.1c-14.2,0-28.5-2.6-42.7-7.9l-22.3-40.8l-15.3,16.1c-18.5,14.2-33.1,30.9-44.7,49.1l-25.2,43.5c-14.2-18.5-30.9-33.1-49.1-44.7L62.7,298.1c17.6,10.4,32.9,23.7,46.1,39.7L122.8,256l-16.1-46.1c-17.6-10.4-32.9-23.7-46.1-39.7L62.7,213.9c14.2-18.5,30.9-33.1,49.1-44.7L138.8,128l-42.5-3.3c14.6-7.9,28.2-17.5,40.8-28.5L168.3,85.4c11,12.6,20.6,26.2,28.5,40.8l3.3,42.5c14.6,7.9,28.2,17.5,40.8,28.5L256,128l46.1,16.1c10.4,17.6,23.7,32.9,39.7,46.1L366.1,94c18.5-14.2,33.1-30.9,49.1-44.7L450,62.7c-17.6,10.4-32.9,23.7-46.1,39.7L388.9,122.8c18.5,14.2,33.1,30.9,49.1,44.7L446.7,213.9c14.2,18.5,30.9,33.1,49.1,44.7l-42.5,3.3c7.9,14.6,17.5,28.2,28.5,40.8L493.6,331.7c-12.6,11-26.2,20.6-40.8,28.5l-3.3-42.5z'/%3E%3C/svg%3E");
  background-color: #007bff; /* A shade of blue */
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vine:before {
  content: "\ea97";
}
.icon-vk:before {
  content: "\ea98";
}
.icon-renren:before {
  content: "\ea99";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-lanyrd:before {
  content: "\eaa2";
}
.icon-flickr2:before {
  content: "\eaa4";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-deviantart:before {
  content: "\eaaa";
}
.icon-500px:before {
  content: "\eaab";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-dropbox:before {
  content: "\eaae";
}
.icon-onedrive:before {
  content: "\eaaf";
}
.icon-github:before {
  content: "\eab0";
}
.icon-npm:before {
  content: "\eab1";
}
.icon-basecamp:before {
  content: "\eab2";
}
.icon-trello:before {
  content: "\eab3";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-joomla:before {
  content: "\eab5";
}
.icon-ello:before {
  content: "\eab6";
}
.icon-blogger:before {
  content: "\eab7";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-yahoo:before {
  content: "\eabb";
}
.icon-soundcloud:before {
  content: "\eac3";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-hackernews:before {
  content: "\eac7";
}
.icon-wikipedia:before {
  content: "\eac8";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-lastfm:before {
  content: "\eacb";
}
.icon-delicious:before {
  content: "\eacd";
}
.icon-stumbleupon:before {
  content: "\eace";
}
.icon-stackoverflow:before {
  content: "\ead0";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-xing2:before {
  content: "\ead4";
}
.icon-flattr:before {
  content: "\ead5";
}
.icon-foursquare:before {
  content: "\ead6";
}
.icon-yelp:before {
  content: "\ead7";
}
.icon-paypal:before {
  content: "\ead8";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-rss2:before {
  content: "\ea9c";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-spinner11:before {
  content: "\21bb";
}
.icon-cog:before {
  content: "\e994";
}
.icon-power-cord:before {
  content: "\e9b7";
}
.icon-menu:before {
  content: "\2630";
}
.icon-arrow-right2:before {
  content: "\2192";
}
.icon-arrow-left2:before {
  content: "\2190";
}
.icon-home3:before {
  content: "\e902";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-brightness-contrast:before {
  content: "\1f506";
}
.icon-search:before {
  content: "\1f50d";
}
.icon-key:before {
  content: "\e98d";
}
.icon-quill:before {
  content: "\e907";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-man-woman:before {
  content: "\e9de";
}
.icon-cross:before {
  content: "\274e";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-printer:before {
  content: "\e954";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-copy:before {
  content: "\1f4cb";
}
.icon-checkmark:before {
  content: "\2705";
}
.icon-history:before {
  content: "\1f552";
}
